# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 ==0:
        if a < b:
            return(a)
        else:
            return (b)
    else:
        if a > b:
            return(a)
        else:
            return(b)

In [274]:
#More efficient way to do this
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [275]:
# Check
lesser_of_two_evens(2,4)

2

In [276]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [10]:
def animal_crackers(text):
    var = text.split()
    #print(var)
    return(var[0][0] == var[1][0])

In [11]:
# Check
animal_crackers('Levelheaded Llama')

True

In [12]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [18]:
def makes_twenty(n1,n2):
    return((n1+n2 == 20) or n1 == 20 or n2 == 20)

In [19]:
# Check
makes_twenty(20,10)

True

In [20]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [25]:
def old_macdonald(name):
    return(name[0].upper() + name[1:3] + name[3].upper() + name[4:])

In [277]:
def old_macdonald(name):
    if len(name) > 3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        return 'Name is too short!'

In [278]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [50]:
def master_yoda(text):
    tmp=text.split()
    return ' '.join(tmp[::-1])

In [51]:
# Check
master_yoda('I am home')

'home am I'

In [52]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [57]:
def almost_there(n):
    return(abs(n-100) < 11 or abs(n-200) < 11)

In [58]:
# Check
almost_there(104)

True

In [59]:
# Check
almost_there(150)

False

In [60]:
# Check
almost_there(209)

True

In [61]:
# Check
almost_there(249)

False

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [124]:
def has_33(nums):
    a = [str(i) for i in nums]
    res = ''.join(a)
    return('33' in res)

In [282]:
# Efficient code as per solutions
def has_33(nums):
    for i in range(0, len(nums)-1):
      
        # nicer looking alternative in commented code
        if nums[i] == 3 and nums[i+1] == 3:
    
        #if nums[i:i+2] == [3,3]:
            return True  
    
    return False

In [283]:
# Check
has_33([1, 3, 3])

True

In [286]:
# Check
has_33([1, 3, 1, 3])

False

In [287]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [140]:
def paper_doll(text):
    var=[str(i)*3 for i in text]
    return(''.join(var))
    #return([str(i)*3 for i in text].join(var))

In [141]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [142]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [288]:
def blackjack(a,b,c):
    res = a+b+c
    if(res <= 21):
        return(res)
    #if(res > 21 and (a == 11 or b ==11 or c ==11)):
    # Efficient way of doing it.
    if(res > 21 and 11 in (a,b,c)):    
        return(res - 10)
    else:
        return('BUST')

In [164]:
# Trying with *args so that the or condition can be shortend
def blackjack(*args):
    if(sum(args) <= 21):
        return(sum(args))
    if(sum(args) > 21 and 11 in args):
        return(sum(args)-10)
    else:
        return('BUST')

In [289]:
# Check
blackjack(5,6,7)

18

In [166]:
# Check
blackjack(9,9,9)

'BUST'

In [167]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [174]:
def summer_69(arr):
    return(sum([0 if i in range(6,10) else i for i in arr ]))
    #return(sum(var))

In [175]:
# Check
summer_69([1, 3, 5])

9

In [176]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [177]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [321]:
def spy_game(nums):
    return('007' in  ''.join([str(i) for i in nums]))

In [322]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [323]:
# Check
spy_game([1,0,2,4,0,5,7])

False

In [324]:
# Check
spy_game([1,7,2,0,4,5,0])

False

In [325]:
# Check
spy_game([1,7,2,0,0,7,0])

True

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [178]:
def mod_checker(num, dividend):
    return(num%dividend)

In [270]:
def count_primes(num):
    main_range=list(range(1,num+1))
    #print(a)
    collect_primes=[]
    for i in main_range:
        var = [j for j in range(1,i+1) if i%j ==0]
        #print(var)
        if len(var) == 2:
            collect_primes.append(i)
    res=len(collect_primes)
    return('Following are {} prime numbers upto the given number {} --> {}'.format(res,num,collect_primes))

In [272]:
# Check
count_primes(1187)

'Following are 195 prime numbers upto the given number 1187 --> [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997, 1009, 1013, 1019, 1021, 1031, 1033, 1039, 1049, 1051, 1061, 1063, 1069, 1087, 1091, 1093, 1097, 1103, 1109, 1117, 1123, 1129, 1151, 1153, 1163, 1171, 1181, 1187]'

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [262]:
def print_big(letter):
    #big_letter={'A':['00100','01010','11111','10001','10001']}
    big_letter={'A':['  *  ',' * * ','*****','*   *','*   *'],'U':['*   *','*   *','*   *','*   *','*****'],'H':['*   *','*   *','*****','*   *','*   *'],
                'R':['*****','*   *','*****','* * ','*   *'],'T':['*****','  *  ','  *  ','  *  ','  *  '], 'G':['  ***','*    ','*   **','*   **','  ***']}
    val = big_letter[letter.upper()]
    #print(val)
    for i in val:
        print(i)

In [273]:
print_big('a')

  *
 * *
*****
*   *
*   *

## Great Job!

In [268]:
#name = 'uthra'
for i in 'uthra':
    print_big(i)
    print()
    print()

*   *
*   *
*   *
*   *
*****


*****
  *
  *
  *
  *


*   *
*   *
*****
*   *
*   *


*****
*   *
*****
* *
*   *


  *
 * *
*****
*   *
*   *

In [269]:
#name = 'uthra'
for i in 'raghu':
    print_big(i)
    print()
    print()

*****
*   *
*****
* *
*   *


  *
 * *
*****
*   *
*   *


  ***
*
*   **
*   **
  ***


*   *
*   *
*****
*   *
*   *


*   *
*   *
*   *
*   *
*****