# If-Elif-Else Statements in Python

In [13]:
if 2 !=2:
    print('it is 2')
else:
    print('3')

3

In [15]:
if 2 !=2:
    print('it is 2')
elif 1 < 3:
    print('1')
else:
    print('3')

1

In [16]:
a = 10
b = 2

if (a+b) < (a*b):
    print(f'Value of a is {a} an Value of b is {b}')

Value of a is 10 an Value of b is 2

In [17]:
a = 10
b = 2

if (a+b) < (a*b):
    print(f'Value of a is {a} an Value of b is {b} and why this condition was executed because {a+b} < {a*b}')

Value of a is 10 an Value of b is 2 and why this condition was executed because 12 < 20

In [19]:
a = 1
b = 20

if (a+b) < (a*b):
    print(f'Value of a is {a} an Value of b is {b} and why IF condition was executed because {a+b} < {a*b}')
else:
    print(f'Value of a is {a} an Value of b is {b} and why ELSE condition was executed because {a+b} > {a*b}')

Value of a is 1 an Value of b is 20 and why ELSE condition was executed because 21 > 20

In [21]:
print("Select your favourite number")

print('123')

Select your favourite number
123

In [27]:
# Odd or even number confirmation
a = 21

if a%2 == 0:
    print('Even Number')
else:
    print('Odd Number')

Odd Number

In [28]:
a%2

1

# For Loops in Python

For iterating on objects.

In [6]:
# For Loop in Strings

for i in 'Hello World':
    print(i)

H
e
l
l
o

W
o
r
l
d

In [25]:
for _ in 'Seeing Underscore':
    print(_)

S
e
e
i
n
g

U
n
d
e
r
s
c
o
r
e

In [13]:
# For Loop in lists

a = [1,2,3,4,5,6,7,8,9,10]

for x in a:
    if x%2 == 0:
        print(f'I have encountered an even number {x}')
    else:
        print(f'I have encountered an odd number {x}')

I have encountered an odd number 1
I have encountered an even number 2
I have encountered an odd number 3
I have encountered an even number 4
I have encountered an odd number 5
I have encountered an even number 6
I have encountered an odd number 7
I have encountered an even number 8
I have encountered an odd number 9
I have encountered an even number 10

In [24]:
Current_Sum = 0
for y in a:
    Current_Sum = Current_Sum+y

print('Current Sum is %s' %Current_Sum)

Current Sum is 55

In [28]:
# For loop in Tuples

tup = (21,4,1989)

for i in tup:
    print(i)

21
4
1989

In [29]:
# Tuple Unpacking

f = [('Raghu','Uthra'), ('GRM', 'Lakshmi')]

for i in f:
    print(i)

('Raghu', 'Uthra')
('GRM', 'Lakshmi')

In [32]:
f = [('Raghu','Uthra'), ('GRM', 'Lakshmi')]

for (i,j) in f:
    print(f'Mr. {i} & Mrs. {j}')

Mr. Raghu & Mrs. Uthra
Mr. GRM & Mrs. Lakshmi

In [34]:
# Works without brackets.
f = [('Raghu','Uthra'), ('GRM', 'Lakshmi')]

for i,j in f:
    print(f'Mr. {i} & Mrs. {j}')

Mr. Raghu & Mrs. Uthra
Mr. GRM & Mrs. Lakshmi

In [38]:
# with only 2 parameters instead of 3. It errors out!
f = [('Raghu','Uthra','11-11-2018'), ('GRM', 'Lakshmi', '19-04-1982')]

for i,j in f:
    print(i)
    print(j)

ValueError: too many values to unpack (expected 2)

In [40]:
# with only 3 parameters.
f = [('Raghu','Uthra','11-11-2018'), ('GRM', 'Lakshmi', '19-04-1982')]

for i,j,k in f:
    print(i)
    print(j)
    print(k)
    print('\n')

Raghu
Uthra
11-11-2018


GRM
Lakshmi
19-04-1982

In [42]:
# For loop in dictionaries -- The iteration element considers only the key! And not the value.

d = {'key1':1, 'key2':2,'key3':3,'key4':4}

for q in d:
    print(q)

key1
key2
key3
key4

In [44]:
# For loop in dictionaries -- The iteration element considers only the key! And not the value. To get the key & value use items()

d = {'key1':1, 'key2':2,'key3':3,'key4':4}

for q in d.items():
    print(q)

('key1', 1)
('key2', 2)
('key3', 3)
('key4', 4)

In [48]:
# For loop in dictionaries -- checking for dictionary unpacking
for q,r in d.items():
    print(q)
    print(r)

key1
1
key2
2
key3
3
key4
4

In [46]:
# For loop in dictionaries -- The iteration element considers only the key! And not the value. To consider only values

d = {'key1':1, 'key2':2,'key3':3,'key4':4}

for q in d.values():
    print(q)

1
2
3
4

In [63]:
# Self assignment to use for loops to reassign a dictionary
e = {'key1':1, 'key2':2,'key3':3,'key4':4}
print(d)
a={}
print(f'a is {a}')
for x,y in e.items():
    #print(f'x is {x} & y is {y}')
    #print(a)
    a[x]=y
    #a={x:y}
    #print(a)
    
print(f'a is {a}')

{'key1': 1, 'key2': 2, 'key3': 3, 'key4': 4}
a is {}
a is {'key1': 1, 'key2': 2, 'key3': 3, 'key4': 4}

In [64]:
length=len(e)

list = ['i']*length

print(list)

for

['i', 'i', 'i', 'i']

# While Loops in Python

Execute a block of code until the condition remains True

In [109]:
a=10
while a < 20:
    print(a)
    a=a+1
    
else:
    print(f'I have reached {a}')

10
11
12
13
14
15
16
17
18
19
I have reached 20

### Break, Continue, Pass - 3 keywords available in loops.

#### Break: Breaks out of the current closest enclosing loop.
#### Continue : Goes to the top of the closest enclosing loop.
#### Pass: Does nothing atall.

In [115]:
# Pass
i=[1,2,10]
for item in i
    #comment 
    pass

SyntaxError: invalid syntax (<ipython-input-115-bc7ec731480e>, line 3)

In [122]:
# Example of break

objects = ['apple','banana','mango']

for x in objects:
    if x == 'banana' :
        print('I have reached banana')
        break
    print(x)

apple
I have reached banana

In [125]:
# Example of continue

objects = ['apple','banana','mango']

for x in objects:
    if x == 'banana' :
        continue
        print('I have reached banana')
        
    print(x)

apple
mango

# Useful Operators in Python

In [127]:
#range
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [131]:
# range with start, stop, step size
for i in range(10,20,4):
    print(i)

10
14
18

In [3]:
range(10,20,4)

range(10, 20, 4)

If the range function is alone specified, it simply returns the range operator. This is because range is a 'generator', where it simply generates the value than saving it all to its memory. If required to stack it into a number, then cast it to a list as shown below.

In [2]:
list(range(10,20,2))

[10, 12, 14, 16, 18]

In [4]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

### Enumerate

In [6]:
index_count = 0

for letter in 'abcde':
    print('At index {}, the letter is {}'.format(index_count, letter))
    index_count+=1

At index 0, the letter is a
At index 1, the letter is b
At index 2, the letter is c
At index 3, the letter is d
At index 4, the letter is e

In [7]:
# Instead of defining the index, use enum

word = 'abcde'
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [8]:
# This returns tuples.

In [11]:
# Instead of defining the index, use enum

word = 'abcde'
for index_count,item in enumerate(word):
    print('At index {}, the letter is {}'.format(index_count, item))

At index 0, the letter is a
At index 1, the letter is b
At index 2, the letter is c
At index 3, the letter is d
At index 4, the letter is e

# Zip Function
It is opposite of enumerate. Zips the lists together,

In [12]:
mylist1=[1,2,3]
mylist2=['a','b','c']

In [13]:
zip(mylist1,mylist2)

In [16]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

#### What happens if the list size is uneven

In [17]:
mylist1=[1,2,3,4,5]
mylist2=['a','b','c']

for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

#### if the list size is different, it can zip only till the shortest size. It doesn't give error.

In [18]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [23]:
mylist1=[1,2,3,4,5]
mylist2=['a','b','c']

# Tuple unpacking in zip function

for a,b in zip(mylist1,mylist2):
    print(b)

a
b
c

## In Keyword

In [24]:
'x' in [1,2,3,'x']

True

In [25]:
'r' in 'raghu'

True

In [26]:
'rag' in 'raghu'

True

In [29]:
# Works in dictionaries too. searches only for the key. Not with the value.
'key1' in {'key2':2,'key1':1}

True

In [30]:
# Works in dictionaries too. searches only for the key. Not with the value.
'1' in {'key2':2,'key1':1}

False

In [31]:
# To make it work for values.
d= {'key2':2,'key1':1}

1 in d.values()

True

## Min, Max, Random Library

In [41]:
mylist=[10,20,30,40,100]

minimum = min(mylist)

print(minimum)

maximum=max(mylist)

print(maximum)

10
100

In [47]:
from random import shuffle
shuffle(mylist)
print(mylist)

# Assigning to a variable  ran=shuffle(mylist) will not work. Because it is a None Type.

[10, 100, 40, 20, 30]

In [48]:

ran=shuffle(mylist)
type(ran)

NoneType

In [49]:
# THis is an in place funtion, that is it operates on that list.

In [50]:
# To grab a random integer

In [51]:
from random import randint

In [87]:
randint(0,91)

84

In [88]:
# Here if you notice, it is returning something. Hence can be saved.
mynum=randint(0,10)
print(mynum)
type(mynum)

2

int

In [90]:
# How to accept user input. Note that it always accepts anything passed into it as a string.
result=input('Enter a number here: ')

Enter a number here: 43

In [91]:
print(result)

43

In [92]:
type(result)

str

In [93]:
#Type casting to convert it into a number

int_result = int(result)
type(int_result)

int

In [94]:
fl_res=float(result)
type(fl_res)

float

In [3]:
# Implicit type casting.

results=float(input('Type your no here: '))

Type your no here: 12.22

In [4]:
print(results)
type(results)

12.22

float

# List Compreshensions in Python

List comprehensions are unique way of creating lists in python. If you are in a loop with .append() to create lists then list comprehensions are good alternative.

In [5]:
mylist='HelloWorld'
a=[]
for i in mylist:
    a.append(i)
    
print(a)

['H', 'e', 'l', 'l', 'o', 'W', 'o', 'r', 'l', 'd']

In [6]:
a=[i for i in mylist]
print(a)

['H', 'e', 'l', 'l', 'o', 'W', 'o', 'r', 'l', 'd']

In [7]:
squares=[x**2 for x in range(10)]

In [9]:
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
celsius = [0,32,40,65,90,100]

fahrenheit = [((9/5 * temp)+32) for temp in celsius]

In [11]:
fahrenheit

[32.0, 89.6, 104.0, 149.0, 194.0, 212.0]

In [14]:
# Print even numbers with if condition

even_nums = [i for i in range(0,10) if i%2==0]

print(even_nums)

[0, 2, 4, 6, 8]

In [16]:
# Print even numbers with if else condition

even_nums = [i if i%2==0 else 'ODD' for i in range(0,10) ]

print(even_nums)

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD']

In [17]:
# Nested if-else

list1=[]

for i in (1,2,3):
    for j in (10,200,3000):
        list1.append(i*j)
        
print(list1)

[10, 200, 3000, 20, 400, 6000, 30, 600, 9000]

In [20]:
list2=[i*j for i in (1,2,3) for j in (10,200,3000)]

In [21]:
print(list2)

[10, 200, 3000, 20, 400, 6000, 30, 600, 9000]

# List Comprehensions - Practise

In [23]:
list1 = [x for x in range(0,10)]

In [24]:
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
l1 = [1,2,3,4]
l2 = [10,20,30,40]

newlist=zip(l1,l2)
newlist

In [35]:

list2 = [(((a+b)**2) + (2*a*b)) for a,b in [(2,4)]]

In [36]:
list2

[52]

In [38]:
new_list=[ i for i in range(10,20) ]
new_list1=[j+10 for j in range(10,20)]

print(new_list)
print(new_list1)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [43]:
merged=[]
for i,j in zip(new_list,new_list1):
    merged.append([i,j])
    
print(merged)

[[10, 20], [11, 21], [12, 22], [13, 23], [14, 24], [15, 25], [16, 26], [17, 27], [18, 28], [19, 29]]

In [44]:
# Performing (a+b) ** 2 formula

output = [(((a+b)**2) + (2*a*b)) for a,b in merged]

print(output)

[1300, 1486, 1684, 1894, 2116, 2350, 2596, 2854, 3124, 3406]